{% extends 'store/base.html' %} 
{% block title%}TroyCart | Cart{% endblock %}
{% block content %}
<div class="col-md-1"></div>
<div class="col-md-10" style = "min-height: 100vh;">
  <div class = "logoart" style = "text-align: center;margin-top:20px;font-size: 40px;font-weight: 500;font-style: oblique;color:rgb(42, 214, 157)">{{request.user}}'s Cart</div>
  <div class = "row" style = "margin-top:40px;justify-content: space-around;margin-bottom: 40px;">
  </div>
</div>
<div class = "col-md-1"></div>
{% endblock %}
