{% extends 'store/base.html' %} 
{% block title%}TroyCart | Contact Us{% endblock %}
{% block content %}
<div class="col-md-1"></div>
<div class="col-md-10" style = "min-height: 100vh;">
  <div class="row" style = "margin-top: 30px;">
    <div class="col-md-4">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title">Contact Us</h5>
          <p class="card-text">
            Feel free to contact us anytime. <br /><br />If you have any
            queries, doubts, problems, just message us. Our team will get back
            to you as soon as possible.
          </p>
          <p class="card-text">
            If you want to make a business with us or sell your books. Let us
            know. We will love to contact you back.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <form action="contact/post" method="POST" style="padding: 10px;">
          <div class="form-group">
            <label for="qname">Name</label>
            <input
              type="text"
              class="form-control"
              id="qname"
              name="qname"
              placeholder="Name"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="name@example.com"
              required
            />
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea
              class="form-control"
              id="message"
              name="message"
              rows="3"
              required
            ></textarea>
          </div>
          <div class="custom-control custom-switch mb-3">
            <input
              type="checkbox"
              class="custom-control-input"
              id="status"
              name="status"
            />
            <label class="custom-control-label" for="status"
              >Do you have an account on this website ?</label
            >
          </div>
          <div
            class="g-recaptcha"
            data-sitekey="6LcMOvoUAAAAAPfwwcHaUtD6R4oNRtET3tFEe7MB"
          ></div>
          <br />
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  {% endblock %}
</div>
