{% extends 'store/base.html' %}
{% load static %}
{% block title %} Pingoo Bookstore | Products {% endblock %}
{% block content %}  
<div class = "col-md-1"></div>
<div class = "col-md-10" style = "min-height: 100vh;">
    <div class = "container">
        <div class = "row" style = "margin-top: 40px;box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); border-radius: 10px;padding-top:40px;padding-left: 20px;padding-bottom: 40px;">
            <div class = "col-md-3">
                <div>
                    <img src = "/media/{{product.book_pic}}" width = "233px" height = "315px">
                </div>
            </div>
            <div class = "col-md-9">
                <div class = "book_name" style = "font-weight: 500;font-size: 50px;font-style: oblique;">{{product.book_name}}</div>
                <div class = "book_price" style = "color: rgb(241, 50, 162);font-size: 20px;font-weight: 500;">₹ {{product.book_price}}</div>
                <div class = "book_author" style = "font-size: 22px;font-weight: 400;">Writer/Author: {{product.book_author}}</div>
                <div class = "book_author" style = "font-size: 22px;font-weight: 400;">{{product.book_desc}}</div>
                <div class = "book_author" style = "font-size: 22px;font-weight: 400;">{{product.book_date}}</div>
                <div class = "book_author" style = "font-size: 22px;font-weight: 400;">{{product.book_class}}</div>
                <div class = "book_author" style = "font-size: 22px;font-weight: 400;">{{product.book_category}}</div>
                <div>
                    <button class = "btn btn-dark my-2">Buy Now</button>
                    <button class = "btn btn-secondary my-2">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "col-md-1">
    <div
    class="btn"
    style="
      margin-top: 20px;
      width: 80px;
      position: fixed;
      background-color: rgb(39, 238, 178);
      border-radius: 40px;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.175);
      margin-right: 10vh;
    "
  >
    <a href="{% url 'cart' %}" style="text-align: left; width: auto;"
      ><img
        src="{% static 'store/img/svg/shopping-cart.svg' %}"
        style="background-color: transparent;"
        width="40px"
        height="50px"
    /></a>
  </div>
</div>

{% endblock %}