{% extends 'store/base.html' %} {% load static %} {% block content %}
<div class="col-md-1"></div>
<div class="col-md-10" style = "margin-bottom:40px;">
  <div class="row" style="margin-top: 30px; margin-bottom: 50px;">
    <div class="col-md-4"></div>
    <div
      class="col-md-5"
      style="box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175); border-radius: 10px;"
    >
      <div class="row" style="border-radius: 10px;">
        <div class="col-md-10" style="padding-top: 5px;">
          <input
            type="text"
            class="searchBar no-outline"
            placeholder="Search here"
            style="
              width: 80%;
              border: none;
              text-align: left;
              font-size: 20px;
              margin-top: 5px;
            "
          />
        </div>
        <div class="col-md-2" style="background-color: aquamarine;">
          <a href="#" class="btn">
            <img
              src="{% static 'store/img/svg/search.svg' %}"
              height="39px"
              width="34px"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div style = "margin-top: 20px;position: fixed;border-radius: 20px;box-shadow: 5px 10px 20px 2px rgba(20, 20, 20, 0.175);margin-bottom: 40px;"> 
        <div class="card-body">
          <h5 class="card-title" style = "text-align: center;">Categories</h5>
          <p class="card-text">
            Search By Branch
          </p>
          <p class="card-text">
            Search By Tag Name
          </p>
          <p class="card-text">
            Search By Author Name
          </p>
          <p class="card-text">
            Search By Book Title
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class = "row">
        {% for i in Book %}
      <div
      style = "margin-top: 20px;border-radius: 10px;box-shadow: 5px 10px 20px 2px rgba(20, 20, 20, 0.175);width: 220px;
      padding: 10px;
      margin-left: 10px;"
      >
        <img
          class="card-img-top"
          src="/media/{{i.book_pic}}"
          height="270"
          width="100"
          alt="Card image cap"
        />
        <div class="card-body">
          <div style="min-height: 60px;text-align: center;justify-content: center;">
            <a class="card-title" style="font-weight: 600; font-size: 15px;"
              >{{i.book_name}}</a
            >
          </div>
          <div style= "text-align: center;justify-content: center;">
            <a
              class="card-title"
              style="font-weight: 600; padding: 20px; color: rgb(241, 50, 162);"
              >₹{{i.book_price }}</a
            >
          </div>
          <div style="min-height: 80px; padding: 10px;text-align: center;justify-content: center;">
            <a class="card-title" style="font-weight: 600; font-size: 15px;"
              >{{i.book_author }}</a
            >
          </div>
          <div style="min-height: 30px;display: inline;text-align: center;justify-content: center;">
            <a href="#" class="btn btn-dark" style = "font-size: 14px;">Add to Cart</a>
            <a href="#" class="btn btn-secondary" style = "font-size: 14px;">View</a>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="col-md-1">
  <div
    class="btn"
    style="
      margin-top: 20px;
      width: 80px;
      position: fixed;
      background-color: rgb(39, 238, 178);
      border-radius: 40px;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.175);
      margin-right: 10vh;
    "
  >
    <a href="{% url 'cart' %}" style="text-align: left; width: auto;"
      ><img
        src="{% static 'store/img/svg/shopping-cart.svg' %}"
        style="background-color: transparent;"
        width="40px"
        height="50px"
    /></a>
  </div>
</div>
{% endblock %}
