#id_email{
    width:30%;
    padding:5px;
}

#id_new_password1{
    margin-left:10px;
    padding:5px;
    width:30%;
}

#id_new_password2{
    margin-left:10px;
    padding:5px;
    width:30%;
}

.helptext ul li{
    color:rgb(223, 23, 123);
}

label{
    font-size: 17px;
}
